* {
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: 500;
}

input {
    font-size:1.15em;
}


#cell_data {
    width: 95vw;
    height: 250px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 25px;
    text-align: center;
}

td {
    border: solid 1px;
    width:1.5em;
    height:1.5em;
    font-size:0.5em;
}

#turndiv {
    margin: 15px 0 -15px 15px;
    font-size: 2em;
}